<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/panfleta-stencil" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Quicksand:wght@600&display=swap" rel="stylesheet">               
    <link rel="stylesheet" href="style.css">
    <title>SuaAgendaBarber</title>
</head>
<body>
    <div class="container">        
        <header class="d-flex flex-wrap align-items-center justify-content-md-between py-3 mb-4 border-bottom">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#sessao-0">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sessao-9">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sessao-10">Contato</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sessao-8">Dúvidas frequentes</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="col-md-3 text-end">
                <a href="https://www.instagram.com/suagendabarber/" target="_blank" rel="external"><img id="instagram" src="imagens/instagram.svg" alt="link para o instagram"></a>
                <a href="mailto:levi_sanches@outlook.com?subject=subject text"><img id="email" src="imagens/email.svg" alt="link para o email"></a>
                <a href="https://api.whatsapp.com/send?phone=5575982868624" target="_blank" rel="external"><img id="whatsapp" src="imagens/whatsapp.svg" alt="link para o whatsapp"></a>
            </div>
        </header>
        <section id="sessao-0">
            <div id="texto-0" class="texto">
                <h1>Sua Agenda Barber</h1>
                <p>A melhor forma de automatizar os agendamentos da sua barbearia, com um design exclusivo baseado na sua marca!</p>
            </div>
            <div>
                <img id="logo-principal" src="imagens/Black Vintage Barber Shop  Logo (2).png" alt="">
            </div>
        </section>        
        <section id="sessao-1">
                <div id="celular-cadastro" class="celular">
                    <img class="imagens-celular" src="imagens/cadastro.png" alt="">
                </div>            
                <div id="texto-1" class="texto">                    
                    <p>Uma experiência prática e fácil para você e seu cliente, basta inserir as informações básicas e estará pronto para agendar os horários...</p>
                </div>
        </section>
        <section id="sessao-2" class="border-0">
            <div id="texto-2" class="texto">
                <p>Nosso Sistema conta com a possibilidade de escolha personalizada do profissional que realizará o serviço.</p>  
            </div>
            <div id="celular-barbeiro" class="celular">
                <img class="imagens-celular" src="imagens/barbeiro.png" alt="">
            </div>
        </section>        
        <section id="sessao-3" class="border-o">
            <div id="celular-servico" class="celular">
                <img class="imagens-celular" src="imagens/servicos.png" alt="">
            </div>
            <div id="texto-3" class="texto">
                <p>Com a liberdade de escolher e organizar os serviços que melhor se adequam ao seu público, você pode criar uma lista de serviços que atenda às necessidades dos homens modernos. Dê um toque pessoal na sua lista de serviços exclusivos e deixa o resto com a gente.</p> 
            </div>        
        </section>
        <section id="sessao-4">
            <div id="texto-4" class="texto">
                <p>O cliente selecionará a data e horário que melhor atenda a sua necessidade.</p>  
                <p>E poderá visualizar o resumo das opções escolhidas antes de confirmar o agendamento.</p>
            </div>
            <div id="celular-data" class="celular">
                <img class="imagens-celular" src="imagens/data.png" alt="">
            </div>
        </section>
        <section id="sessao-5">
            <div id="celular-agendado" class="celular">
                <img class="imagens-celular" src="imagens/agendado.png" alt="">
            </div>
            <div id="texto-5" class="texto">
                <p>Agendamento confirmado, de forma simples, rápida e intuitiva.</p>  
                <p>Tudo isso sem precisar criar cadastro e de forma personalizada, com a identidade da sua barbearia.</p>
            </div>
        </section>
        <section id="sessao-6">
            <div id="texto-6" class="texto">
                <h1>PÁGINA DO BARBEIRO</h1>
                <p>Tenha controle total dos agendamentos, envie lembretes aos seus clientes pelo Whatsapp ou exclua marcações incorretas.</p>  
                <p>Com interface própria para você e sua equipe.</p>
            </div>
            <div id="celular-barbeiro" class="celular">
                <img class="imagens-celular" src="imagens/admin.png" alt="">
            </div>        
        </section>
        <section id="sessao-7">
            <div id="texto-7" class="texto">
                <h1 id="titulo-teste-gratis">TÁ ESPERANDO O QUÊ?</h1>
                <p>O futuro já chegou e está na palma da sua mão! </p>  
                <p>Traga praticidade para a sua barbearia e não perca tempo anotando agendamentos à mão, foque inteiramente no corte de cabelo.</p>
                <button id="teste-gratis">EXPERIMENTE</button>
                <p>(Por 7 dias)</p>
            </div>
        </section>
        <section id="sessao-8">
            <div id="texto-8" class="texto">
                <h1>DÚVIDAS FREQUENTES?</h1>                
            </div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Como posso acessar o sistema de agendamento online da minha barbearia?
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        É bastante simples, nós disponibilizamos um link para acessar a agenda da sua barbearia. Você terá uma senha exclusiva que possibilitará o acesso ao sistema e então poderá filtrar o profissional e a data desejada, dessa forma você vizualizará os horários agendados do dia.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Quais são as vantagens do agendamento online para barbearia?
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Maior conveniência para os clientes, que podem agendar seus horários a qualquer momento, em qualquer lugar, sem precisar ligar ou mandar mensagem no Whatsapp. Aumento da eficiência operacional, ajudando a barbearia a otimizar o seus tempo focando inteiramente no corte de cabelo. Resumindo, essa opção pode melhorar a experiência do cliente, a eficiência operacional e a rentabilidade geral da barbearia.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        O agendamento online é seguro?
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">É totalmente seguro, basta o cliente colocar o nome e número do Whatsapp, não necessitamos de nenhum tipo de dado sensível, nem envolvemos transações bancárias. Além de utilizarmos criptografia no nosso site de agendamento, conferindo total segurança para o barbeiro e o cliente.</div>
                  </div>
                </div>
              </div>
        </section>        
        <section id="sessao-9">
            <div id="texto-9" class="texto">
                <h1>SOBRE NÓS</h1>
                <p>Somos uma empresa de desenvolvimento de software focada em desenvolver soluções objetivas para o seu empreendimento.</p>
                <p>Trabalhamos com excelência para entregar sempre um produto de qualidade, que cumpre o prometido, para os nossos clientes.</p>
                <p>A nossa filosofia é simples: entender as necessidades de cada cliente e criar soluções personalizadas que resolvam seus problemas. Oferecemos soluções acessíveis que atendem às suas necessidades e ao seu bolso.</p>
            </div>
            <div>
                <img id="logo-siseven" src="imagens/Logo Siseven.png" alt="">
            </div>
            
        </section>
        <section id="sessao-10">
            <div id="texto-10" class="texto">
                <h1>ALGUMA DÚVIDA?</h1>
                <p>Entre em contato conosco, ficaremos felizes em sanar suas dúvidas.</p>  
                <p>Acesse diretamente o nosso whatsapp.</p>
                <p>Retornaremos mais rápido do que você imagina.</p>                 
                <p>Clique no ícone do whatsapp e entre em contato.</p> 
                <a href="https://api.whatsapp.com/send?phone=5575982868624" target="_blank" rel="external"><img id="whatsapp" src="imagens/whatsapp.svg" alt="link para whatsapp"></a>               
            </div>
            <div>
                <form action=""></form>
            </div>
        </section> 
        <div id="rodape">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p id="copyright" class="col-md-4 mb-0 text-body-secondary">© 2022 Siseven, Todos os direitos reservados</p>
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Início</a></li>
                    <li class="nav-item"><a href="#sessao-9" class="nav-link px-2 text-body-secondary">Sobre</a></li>                    
                    <li class="nav-item"><a href="#sessao-8" class="nav-link px-2 text-body-secondary">Dúvidas frequentes</a></li>                    
                </ul>
            </footer>
        </div>      
    </div>   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>